<!DOCTYPE html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pigmy -Agent Panel</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="app/assets/images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="app/assets/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link href="app/assets/vendor/select2/css/select2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="app/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="app/assets/css/overlay.css">
    <!-- Angular CDN -->
    <script src="app/assets/js/angular.min.js"></script>
    <script src="app/assets/js/angular-route.js"></script>
</head>

<body class="dashboard" ng-app="myApp" ng-controller="loginCtrl">
<!-- custom loader -->
<div id="overlay">
   <div class="cv-spinner">
   <span class="spinner"></span>
  </div>
</div>

<div id="preloader">
    <i>.</i>
    <i>.</i>
    <i>.</i>
</div>

  <div class="authincation section-padding">
      <div class="container h-100">
         <div class="row justify-content-center h-100 align-items-center">
            <div class="col-xl-5 col-md-6">
                <div class="card">
                     <div class="card-header justify-content-center">
                            <h4 class="card-title">Sign in</h4>
                        </div>
                        <div class="card-body">
                            <form method="post" ng-submit="login()">
                            <div class="row">
                              <div class="col-12 mb-16"><label class="form-label">Email ID</label>
                                <input name="email" type="text" class="form-control" required="" ng-model="member.username" ng-keyup="check_verification()">
                                </div>
                                
                                <div class="col-12 mb-16">
                                    <label class="form-label">Password</label>
                                    <input type="password" class="form-control" required="" ng-model="member.password">
                                </div>
                                    <div class="col-6 text-end"><a href="reset.html">Forgot Password?</a></div>
                                </div>
                                <div class="mt-16 d-grid gap-2"><button type="submit" class="btn btn-primary mr-2">Sign
                                        In</button></div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="app/assets/vendor/jquery/jquery.min.js"></script>
<script src="app/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="app/assets/js/scripts.js"></script>
<script src="app/assets/js/sweetalert.min.js"></script>
</body>
</html>

<script>
var app = angular.module('myApp', []);
app.controller('loginCtrl', function($scope,$window,$http,$location) {

  if (localStorage.getItem('username') !== null) {
    $("#overlay").fadeIn(300);
     setTimeout(function(){
      $("#overlay").fadeOut(300);
      window.location.href ="http://localhost:4000/main";
      },500);
    
  } else {
    console.log('Session is not available');
  }


  $scope.check_verification=function(){
  
  $scope.myemail=$scope.member.username;
  console.log($scope.myemail);

       
  $http({
          method  : 'POST',
           url    :  'http://localhost/bank_api/check_agent_verification.php',
           data    :  $.param({ 'agent_own_email' : $scope.myemail}),
                  headers : {'Content-Type': 'application/x-www-form-urlencoded'}          
                 })
                .then(function (response) {
                  console.log(response.data);
                if(response.data[0] == "Success"){
                        swal({
                          title: "Verification is pending.",
                          text: "Kindly contact your bank.",
                          icon: "warning"
                          })
                    $scope.member.username="";
                          
                     }else{
                      }
                    })  
                  }

     $scope.login=function(){
     $scope.memberdata = JSON.stringify($scope.member);
      $("#overlay").fadeIn(300);
      $scope.myemail=$scope.member.username;
      console.log($scope.myemail);


      $http({
          method  : 'POST',
           url    :  'http://localhost/bank_api/check_agent_verification.php',
           data    :  $.param({ 'agent_own_email' : $scope.myemail}),
                  headers : {'Content-Type': 'application/x-www-form-urlencoded'}          
                 })
                .then(function (response) {
                  console.log(response.data);
                if(response.data[0] == "Success"){
                        swal({
                          title: "Verification is pending.",
                          text: "Kindly contact your bank.",
                          icon: "warning"
                          })
                    $scope.member.username="";
                          
                     }else{

             $http({
                  method  : 'POST',
                  url     : 'http://localhost/bank_api/agent_login.php',
                  data    :  $scope.member,          
                  headers : {'Content-Type': 'application/x-www-form-urlencoded'} 
                    })      
                      .then(function (response) {
                        console.log(response.data);
                          if(response.data['STATUS'] == "Success"){

                            $scope.user=response.data[0].email_id;

                            $scope.users=localStorage.setItem('username',$scope.user);

                           window.location.href ="http://localhost:4000/main";
                            $("#overlay").fadeOut(300);
                         
                          }else{

                             swal({
                              title: "oops.",
                              text : "Authentication Failed.",
                              icon: "warning",
                              dangerMode: true,
                            })
                           
                          }
                      })
                                  

                      }

                  })
      
          }
});
</script>