*{
  font-family: sans-serif;
  font-size: 16px;
}

#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 9999;
  padding: 10px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Proxima Nova Rg", sans-serif;
}

#header .logo a {
  color: #0f394c;
}

#header .logo img {
  max-height: 80px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  /*padding: 10px 0 10px 15px;*/
  padding: 10px 27px 10px 15px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #0f394c;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Proxima Nova Rg", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}
.nav-menu a:hover{
    color:#f9a15f
}
.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #84c14b;
  
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  text-transform: none;
  color: #0f394c;
  text-transform: uppercase;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #242462;
}
.nav-menu .btn-outline-primary:hover {
    color: #f9a15f !important;
    border-color: #f9a15f !important;                  
    background: #fff;
}
.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  header .container-fluid.d-flex{
    justify-content: space-between;
  }
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  top: 23px;
  right: 15px;
  z-index: 99991;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right; 
}

.mobile-nav-toggle i {
  color: #242462;
}

.mobile-nav {
  position: fixed; 
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
  width:100%;
  height:100%;
  left:0;
  top: 70px;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #0f394c;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #242462;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(7, 25, 33, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #000;
}

/* main body */

/* .smbg-photo{
  margin-top: 130px;
} */
.smbg-photo img{
  height: 400px;
  width: 100%;
}

.smbg-information{
margin: 40px 0px 40px 0px;
}

.deposite-table{
color: #fff;
}

.deposite-table-img{
padding: 0px 30px 30px 30px;
height: 25rem;
width: 28.125rem;
}

@media only screen and(max-width:600px){
.deposite-table-img{
  padding: none;
}
}

.deposite-table button{
  background-color: #84c14b;
  border: none;
  margin: 10px;
  padding: 5px;
}

.p1{
text-align: justify;
}


/* priciples */

.basic-principle{
height: 550px;
background-color: #f3f1ed;
}

.basic-principle .div{
padding-top: 80px;
}

.basic-principle .div span{
padding: 5px;
background-color: #4a4a4a;
font-size: 24px;
}

.principles-div{
padding-top: 100px;
}

@media only screen and (max-width: 1000px){
.principles-div{
  padding-top: 30px;
}
.basic-principle .div{
  padding-top: 20px;
}
}

.principles{
height: 150px;
background-color: #009be9;
padding-top: 45px;
font-size: 28px;
}


/* Scheme facilities */

.scheme-facilities{
  background-color: #f3f1ed;
  text-align: center;
  height: 500px;
  
}

.scheme-head{
  text-decoration: underline;
  padding-top: 60px;
}

.scheme-div{
border-radius: 5px;
box-shadow: 2px 2px 2px 2px #4a4a4a;
margin-top: 40px;
height: 90px;
display:flex;
justify-content: space-evenly;
align-items: center;
}


.scheme-button{
  background-color: #fff;
  border-radius: 20px;
  font-family: 'Trebuchet MS';
  height: 45px;
  font-weight: bold;
  border: 1.5px solid black;
}

.scheme-button:hover{
background-color: #000;
color: white;
}

.scheme-button span{
padding: 5px;
}

#scheme-p{
  padding-top: 50px;
  color: #4a4a4a;
  font-size: 18px;
  text-align: justify;
}


.join-team{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;

  /* parallax property */
  background-image: url(smbg-img/bg-img.webp);
  min-height: 100%;
  background-attachment:fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.join-team .container-fluid{
height: 100%;
background-color: #84c14b;
opacity: 0.8;
display: flex;
align-items: center;
justify-content: space-evenly;
}

.join-head-div{
color: #fff;
font-size: 32px;
}

.join-team-button{
height: 60px;
width: 200px;
padding: 10px;
margin-top: 40px;
background-color: #fff;
border: none;
border-radius: 18px;
display: flex;
justify-content: space-evenly;
align-items: center;
font-size: 18px;
font-weight: bold;
}

footer{
  background-color: #000000;
  opacity: .9;
  color: #fff;
  /* font-size: 20px; */
  padding-top: 40px;
  padding-bottom: 20px;
}

footer h3{
  color: #84c14b;
  text-decoration: underline;
  font-size: 24px;
}

.foot-social{
  font-size: 20px;
}

.foot-social i{
font-size: 20px;
background-color: #009be9;
border-radius: 50%;
padding: 5px;
}

.foot-social i:hover{
background-color: #84c14b;
}

@media only screen and (max-width: 920px){
footer{
  text-align: center;
}
}

.copyrights{
  background-color: #1c1c1c;
  height: 80px;
  font-size: 30px;
  /* opacity: 1; */
  padding-top: 10px;
  color: #84c14b;
  display: flex;
  align-items: center;
  justify-content: center;
}

