<div class="conatiner">
    <div class="col-sm-12 col-lg-6">
        <form style="line-height: 2.5;">
            <div class="mb-3">
              <label for="cust_name" class="form-label" style="color: #000;">Customer Name</label>
              <input type="text" class="form-control" ng-model="member.cust_name" id="cust_name" style="border: 1px solid red;">
            </div>
            <div class="mb-3">
              <label for="location" class="form-label" style="color: #000;">Select Location</label>
              <select name="location" id="location" ng-model="member.location" class="form-control" style="border: 1px solid red;">
                <option value="latur">Latur</option>
                <option value="abad">Aurangabad</option>
                <option value="jalna">Jalna</option>
                <option value="nanded">Nanded</option>
              </select>
            </div>
            <div class="mb-3" hidden>
                <label for="agent_id" class="form-label" style="color: #000;">Agent ID</label>
                <input type="number" class="form-control" ng-model="member.agent_id" id="agent_id" style="border: 1px solid red;">
            </div>
            <div class="mb-3">
                <label for="mob" class="form-label" style="color: #000;">Customer Mobile NO.</label>
                <input type="text" class="form-control" ng-model="member.mob" id="mob" style="border: 1px solid red;">
            </div>
            <div class="mb-3">
                <label for="business_name" class="form-label" style="color: #000;">Business Name</label>
                <input type="text" class="form-control" ng-model="member.business_name" id="business_name" style="border: 1px solid red;">
            </div>
            <div class="mb-3">
                <label for="business_proof" class="form-label" style="color: #000;">Business Proof</label>
                <input type="text" class="form-control" ng-model="member.business_proof" id="business_proof" style="border: 1px solid red;">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            
          </form>
    </div> 
    <div class="col-sm-12 col-lg-6"></div> 
  </div>