<form method="post" id="userForm" name="StudentForm" ng-submit="save_collection()">
	<div class="row" data-ng-init="init()">
	
	<div class="col-sm-6">  
		<!-- main 6 div -->
	
	<div class="col-sm-6" style="color: black"><label>Search Cust.Acc</label></div>

	<div class="col-sm-6">
	<input type="number" id="acc" min="1" oninput="validity.valid||(value='');" ng-model="member.cust_accno" class="form-control" required="" style="border: 1px solid black">
	 <span id="msg" style="font-weight: bold;color: black"></span>
		<button type="button" class="btn btn-success btn btn-lg" style="margin-top: 10px;margin-left: 20%" ng-click="search_acc_no()">Search Acc No</button>
	</div>

	<div class="col-sm-6" style="color: black" hidden="">
		<label>Latitude</label>
	</div>
	<div class="col-sm-6" hidden="">
		<input type="text" ng-model="member.latitude" required="" class="form-control" style="border: 1px solid black">
	</div>

	<div class="col-sm-6" style="color: black" hidden="">
		<label>Longitude</label>
	</div>
	<div class="col-sm-6" hidden="">
		<input type="text" ng-model="member.longitude" required="" class="form-control" style="border: 1px solid black">
	</div>

	<div class="col-sm-6" style="color: black">
		<label>Cust.Name</label>
	</div>
	<div class="col-sm-6">
		<input type="text" name="full_name" ng-model="member.customer_name" required="" name="full_name" required ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,60}$/" readonly="" class="form-control" style="border: 1px solid black">
		<span style="color:red" ng-show="StudentForm.full_name.$dirty && StudentForm.full_name.$invalid" class="ng-hide">Please Enter Valid Your Full Name.</span>
	</div>
	<br>

	<div class="col-sm-6" style="color: black">
		<label>Amount</label>
	</div>
	<div class="col-sm-6">
		<input type="number" min="1" oninput="validity.valid||(value='');" ng-model="member.amount" required="" class="form-control" style="border: 1px solid black">
	</div>

	<div class="col-sm-6" style="color: black" hidden="">
		<label>Agent mail</label>
	</div>
	<div class="col-sm-6" hidden="">
		<input type="email" ng-model="member.agent_email" required="" class="form-control" style="border: 1px solid black">
	</div>

	<div class="col-sm-6" style="color: black" hidden="">
		<label>Agent ID</label>
	</div>
	<div class="col-sm-6" hidden="">
		<input type="text" ng-model="member.agent_id" required="" class="form-control" style="border: 1px solid black">
	</div>
	<br>
	
	<input type="submit" class="btn btn-primary btn btn-lg" value="Save Collection" ng-disabled="StudentForm.$invalid">
	
	</div>
	<!-- sm-6 closed -->
	<div class="col-sm-6">
		<div class="table-responsive">
			<table class="table table-bordered">
				<tr>
					<th>Sr</th>
					<th>Cust.Acc</th>
					<th>Cust.Name</th>
					<th>Amount</th>
					<th>Date</th>
					<th>Action</th>
				</tr>
				<tr ng-repeat="data in collectionData">
					<th ng-if="data.saving_id>0">{{$index+1}}</th>
					<th ng-if="data.saving_id<=0">{{data.id}}</th>
					<th>{{data.cust_account_no}}</th>
					<th>{{data.customer_full_name}}</th>
					<th ng-if="data.change_request=='1'" style="color: orange">{{data.amount}}</th>
					
					<th ng-if="data.change_request=='0'">{{data.amount}}</th>

					<th>{{data.entry_date |date:'d-MMM-yyyy'}}</th>
					<th><button type="button" class="btn btn-success" ng-click="request_change(data.saving_id)" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button></th>
				</tr>
			</table>
		</div>
	</div>
<!-- row closed below -->
</div>
</form>

<!-- pop up // Modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Amount</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form ng-submit="update_amount()" id="updateForm" method="post" role="member">

          <div class="mb-3">
            <label for="acc_no" class="col-form-label">Acc.No :</label>
            <input type="hidden" ng-model="member.id" required="" readonly="">
            <input type="text" ng-model="member.acc_no" required="" class="form-control" readonly="">
          </div>

          <div class="mb-3">
            <label for="cust_name" class="col-form-label">Customer:</label>
            <input type="text" ng-model="member.cust_name" required="" class="form-control" readonly>
          </div>

          <div class="mb-3">
            <label for="amount" class="col-form-label">Amount:</label>
            <input type="text" ng-model="member.amounts" required="" class="form-control" >
          </div>

          <div class="mb-3 ms-auto">
         <button type="submit" class="btn btn-primary btn-lg" style="width: 100%">Update</button>
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- end modal -->